@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.logoName {
    font-family: "Dancing Script", cursive;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #0037ff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
    top: 230px;
    margin: 0 auto;
    /* color: rgb(66, 66, 72); */
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.hide-toggle-menu{
transform: translateX(200%);
transition: all 0.3s linear;
}